<% include ./partials/header.ejs %>
<link rel="stylesheet" href="css/stats.css">
    <!-- Register Page -->
    <div class="container">
        <div class="register">
            <h1>Totalligan</h1>
            <a class="btn btn-success" href="/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
            <a class="btn btn-success"  href="/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
            <a class="btn btn-success" href="/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>
            <a class="btn btn-danger float-right" href="/statsVroom"><i class="fas fa-car"></i> Vroom</a> 
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>SM</th>
                        <th>VM</th>
                        <th>FM</th>
                        <th>%</th>
                        <th>Mål</th>
                        <th>Vikt</th>
                    </tr>
                </thead>
                <tbody>
                    <% dataname.forEach(player => { %>
                    <tr>
                        <td class="namn"><%= player.Spelare %></td>
                        <td><%= player.Vinster+player.Förluster %></td>
                        <td><%= player.Vinster %></td>
                        <td><%= player.Förluster %></td>
                        <td><%= Math.round(player.Vinster/(player.Förluster+player.Vinster)*1000)/10 %> %</td>
                        <td><%= player.GjordaMål-player.InsläpptaMål %></td>
                        <td><%= Math.round((Math.pow(player.Vinster/((player.Förluster) + (player.Vinster)),3) * player.Vinster)*100)/100 %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- //Register Page -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>